html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    color: #999
}
.head {
    color: #333;
    text-align: center;
    align-content: center;
}
nav {
    text-align: center;
    text-decoration: none;
    
}
li {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    font-size: 1em;
}

a {
    color: dimgray;
    text-decoration: none;
}

a:visited { 
    color: dimgray;   
}



h1 {
    text-align: center;
    font-size: 2em;
    color: #a9cf38;
}

h2 {
    text-align: center;
    font-size: 1em;
    color: 888888;
    width: 50%;
    display: inline-block;
}

.info {
    text-align: center;
}

/*
**************************
PRELOADER
**************************
*/

.preloader{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:white;
  z-index:999;
}
 
.preloader .item{
  position:absolute;
  width:50px;
  height:50px;
  left:50%;
  top:50%;
  margin-left:-25px;
  margin-top:-25px;
} 

.spinner {
  width: 40px;
  height: 40px;
  margin: 0px auto;
  background-color: #333;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}


/* Responsive media queries
==================================================*/

@media (max-width: 2000px) {
  li {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    font-size: 1.5em;
}
    
 h1 {
    text-align: center;
    font-size: 3em;
    color: #a9cf38;
}


@media only screen and (max-width: 720px) {
 li {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    font-size: 1em;
}
    
 h1 {
    text-align: center;
    font-size: 2.5em;
    color: #a9cf38;
}

@media only screen and (max-width: 480px) {
    li {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    font-size: .8em;
}
    
 h1 {
    text-align: center;
    font-size: 1em;
    color: #a9cf38;
}
    
    h2 {
        font-size: 1em;
    }
